body{
  background-image:url('tt.jpg');
  background-repeat: no-repeat;
  height: 120px;
  background-position-x: center;
  background-attachment: fixed;
  background-size: cover;

}
.logo {
  background-image: url('Preview.png');
  height: 200px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 0 18px rgba(250, 249, 253, 0.6);
}
.heading{
  color: #fff;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.video{
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.title{
  text-align: center;
  font-size: 14;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.main{
  text-align: center;
  font-size: medium;

}
.con1{
    display:inline-block;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 18px rgba(250, 249, 253, 0.6);
    transition: .2s ease-in-out; 
    width: 190px;
    height: 280px;
    margin-bottom: 12px;
    left: 250px;
    background-color:rgb(180, 132, 225);
    opacity: 0.5;
    padding:12px 16px;
    color:black;
    text-align: justify;
    margin-left: 5px;
    margin-right: auto;
    border:2px solid #fff;

}
.con2{
  display:inline-block;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 18px rgba(250, 249, 253, 0.6);
  transition: .2s ease-in-out; 
  width: 190px;
  height: 280px;
  margin-bottom: 12px;
  left :120px;
  background-color:rgb(180, 132, 225);
  opacity: 0.5;
  padding:12px 16px;
  color: #fff;
  text-align: justify;
  margin-left: 10px;
  margin-right: auto;
  border:2px solid #fff;

}
.con3{
  display:inline-block;
  position: relative;
  grid-template-rows: auto 1fr 1fr;
  border-radius: 15px;
  box-shadow: 0 0 18px rgba(250, 249, 253, 0.6);
  transition: .2s ease-in-out; 
  width: 190px;
  height: 280px;
  margin-bottom: 12px;
  background-color:rgb(180, 132, 225);
  opacity: 0.5;
  padding:12px 16px;
  color: #fff;
  text-align: justify;
  margin-left: 15px;
  margin-right: auto;
  align-items: center;
  border:2px solid #fff;
}

.container3{
  display: grid;
  align-items: center;
  grid-template-columns:1fr 1fr 1fr auto;
  column-gap: 1px;
  margin-left: 10px;
  margin-top: 100px;
 
}
.form-check{
  font-size:medium;
  font-family: Arial, Helvetica, sans-serif;
  padding:6px 2px;
}
.dot {
  width: 95px;
  height: 40px;
  --d: radial-gradient(farthest-side, currentColor 90%, #0000);
  background: var(--d), var(--d), var(--d), var(--d);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: m 1s infinite alternate;
}

@keyframes m {
  0% {
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 100%;
  }
  11.11% {
    background-position: calc(0*100%/3) 0, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 100%;
  }
  22.22% {
    background-position: calc(0*100%/3) 0, calc(1*100%/3) 0, calc(2*100%/3) 100%, calc(3*100%/3) 100%;
  }
  33.33% {
    background-position: calc(0*100%/3) 0, calc(1*100%/3) 0, calc(2*100%/3) 0, calc(3*100%/3) 100%;
  }
  44.44% {
    background-position: calc(0*100%/3) 0, calc(1*100%/3) 0, calc(2*100%/3) 0, calc(3*100%/3) 0;
  }
  55.55% {
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 0, calc(2*100%/3) 0, calc(3*100%/3) 0;
  }
  66.66% {
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 0, calc(3*100%/3) 0;
  }
  77.77% {
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 0;
  }
  88.88% {
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 100%;
  }
  100% {
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 100%;
  }
}